{% extends "layout.html" %}

{% block main %}
        <div class="container-fluid">
        <div class="row">
            <div class="col" id="mid">
                Example front of flashcard:
                <br>
                <img src="static/example_front.png" class="img-fluid">
            </div>
            <div class="col" id="right">
                Example back of flashcard:
                <br>
                <img src="static/example_back.png" class="img-fluid">
            </div>
        </div>
        </div>
{% endblock %}