{% extends "layout.html" %}




{% block main %}
        <div class="container-fluid">
        <div class="row">
            <div class="col" id="mid">
            </div>
            <div class="col-8">
                <div class="text-justify">
                Hello, here you can generate English vocabulary
                <a href="https://apps.ankiweb.net/">ANKI</a> flashcards from your list of words!
                <br>
                The only accepted file format is <b>.txt</b>.
                Words should be separated by newlines or commas.
                <br>
                For every word will be generated:
                <li>Meanings and examples of usage</li>
                <li>American pronunciation audio file</li>
                <li>IPA[International Phonetic Alphabet] symbols</li>
                <br>
                Currently, all data is download from the <a href="https://dictionary.cambridge.org/">Cambridge dictionary</a>
                <br>
                <br>
                <p>Please provide your txt file and Anki deck name here:</p>
                </div>
                <form method=post enctype=multipart/form-data>
                    <div class="form-group">
                        <input class="form-control" autocomplete="off" name="deck_name" placeholder="Deck Name" type="text">
                        <input class="form-control" type=file name=file>
                        <button class="form-control btn btn-primary text-center" type="submit">Generate</button>
                    </div>
                </form>
                <div>
                    {% if text %}
                    <p style="color:red;">{{ text }}</p>
                    {% endif %}
                </div>
            </div>

            <div class="col" id="right">
            </div>
        </div>
        </div>
    </body>
    {% if link_to_file %}
    <script>
        var right = document.getElementById('right');
        right.innerHTML = ""
        var mid = document.getElementById('mid');
        mid.innerHTML =
            `
            <h2>Anki deck generated!</h2>
            <br>
            Your Anki deck is ready click here to download:
            <br>
            <a class="btn btn-primary" href="{{ link_to_file }}" role="button">{{ file_name }}</a>
            <br>
            <p> Have a fruitful study! </p>
            <br>
            `
    </script>
    {% endif %}
    {% if problematic_words %}
    <script>
        var right = document.getElementById('right');
        right.innerHTML = `
        <p style="color:red;">Unfortunately, some problems occurred with getting meanings for those words:</p>
        {% for word in problematic_words %}
        <br>
        <b>{{ word }}</b>
        <br>
        {% endfor %}
        <br>
        Please check the spelling :)`;
    </script>
    {% endif %}
{% endblock %}